@media screen and (min-width: 1080px) {
	#logo_large {
		height:256px;
		width:316px;
		}
	.divide_thin {
		background:$color_rust;
		width:100%;
		height:12px;
		}
	.divide_thick {
		background:$color_wash;
		width:100%;
		height:200px;
		}
	// .snip_testimonial {
	// 	width:60%;
	// 	}			
	.lock {@include desktop;}
	#group_header {}
	#group_lax {

		.mask{
			top:-200px
			}
		.bg {

			}
		}
	#group_next {
		top:-5px;
		padding-bottom:100px;
		height: 690px !important;;

		.divide_thin, .divide_thick {
			top:90px !important;
			}

		.lock {
			@include desktop;

			.photo {
			    height:472px;
    			bottom:-440px;
				}
			}
		}
	#group_featured_items {
		top:-5px;
		height:870px;
		// height:826px;

		.lock {}
		ul {
			@include desktop;
			@include center;

			li.parent {
				height:230px;
				width:49.5%;
				margin-right:1.0%;
				margin-bottom:10px;

				&:nth-child(2n+2){
					margin-right:0;
					}

				&:before {
					margin-right: -0.25em; /* Adjusts for spacing */
					}
				div.container {
					p {}
					h2 {}
					}
				div.cover {}
				}
			}
		}	
	#group_events {
		top: 0px;
		
		.lock {}
		}
	#group_copyright {
		top:210px;
		}
	#group_footer {

		top:-5px;

		.lock {}
		}
	#group_about_ourstory {
		height:630px;
		}
	#group_about_ourteam {
		height:690px;
		.lock {
			p {}
			ul{
				li.parent{
					height:210px;
					width:24.25%;
					margin-right:1%;
					margin-bottom:13px;
					&:nth-child(3n+3){
						margin-right:1%;
						}
					&:nth-child(4n+4){
						margin-right:0;
						}

					div.container{
						h2 {}
						p {}
						}
					div.cover{}
					}
				}
			}
		}
	}
	   