@media screen and (min-width: 760px) {
	#logo_large {height:208px;}
	.small_block {}
	.divide_thin {
		background:$color_rust;
		width:100%;
		height:12px;
		}
	.divide_thick {
		background:$color_wash;
		width:100%;
		height:180px;
		}
	// .snip_testimonial {
	// 	width:80%;
	// 	}	
	.lock {@include tablet;}
	
	#group_header {}
	#group_lax {
		@include unhide;
		height:100vh;
		}
	#group_next {
		height: 700px;
		top:-90px;
		padding-bottom:100px;

		.lock {
			@include tablet;

			.photo {
			    height:390px;
			    bottom:-330px;
				}
			}
		}
	#group_about_ourstory {
		height:540px;//490px
		}
	#group_featured_items {
		height:726px;
		
		.lock {
			padding-top:60px;			
			}
		ul {

			li.parent {
				height:230px;

				&:before {
					margin-right: -0.25em; /* Adjusts for spacing */
					}
				div.container {
					p {}
					h2 {}
					}
				div.cover {}
				}
			}
		}
	#group_about_ourteam {
		height:1060px;

		.lock {
			p {}
			ul{
				li.parent{
					overflow:hidden;
					@include vp('border-radius', '2px');
					height:210px;
					width:32.894736842105%;
					margin-right:0.657894736842%;
					&:nth-child(3n+3){
						margin-right:0;
						}
					margin-bottom:5px;

					div.container{
						h2 {}
						p {}
						}
					div.cover{}
					}
				}
			}
		}
	}